:root {
  --lh-10: 1.3;
  --mb-10: 1em;
  --fs-50: 0.95rem; /*13.6px*/
  --fs-100: 1rem; /*16px*/
  --fs-150: 1.1rem; /*18.4px*/
  --fs-200: 1.35rem; /*20px*/
  --fs-300: 1.55rem; /*24px*/
  --fs-400: 1.65rem; /*28px*/
  --fs-500: 2rem; /*32px*/
  --fs-550: 2.25rem; /*36px*/
  --fs-600: 2.5rem; /*40px*/
  --fs-700: 3rem; /*48px*/
  --fs-800: 4rem; /*64px*/
  --fs-900: 4rem; /*128px*/
  --ff-main: "Oswald", sans-serif;
  --clr-side-white: #fff;
  --clr-side-black: #222;
  --clr-primary-white: #fefefe;
  --clr-moon: #ece9ce;
  --clr-primary-black: #100f11;
  --clr-primary-purple: #7269f6;
  --clr-primary-yellow: #f9f871;
  --clr-primary-gray: #ada9bb;
  --clr-primary-pink: #efc2b3;
}

@media (max-width: 40em) {
  :root {
    --lh-10: 1.2;
    --mb-10: 0.75em;
    --fs-50: 0.85rem; /*13.6px*/
    --fs-100: 1rem; /*16px*/
    --fs-150: 1.05rem; /*18.4px*/
    --fs-200: 1.15rem; /*19.2px*/
    --fs-300: 1.3rem; /*20px*/
    --fs-400: 1.6rem; /*24px*/
    --fs-500: 1.75rem; /*28px*/
    --fs-550: 1.9rem; /*30.4px*/
    --fs-600: 2.1rem; /*33.6px*/
    --fs-700: 2.25rem; /*36px*/
    --fs-800: 3rem; /*48px*/
    --fs-900: 4rem; /*64px*/
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-main);
  color: var(--clr-side-black);
  background-color: black;
  line-height: var(--lh-10);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stick {
  flex: 1;
}

img {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.white {
  color: var(--clr-moon);
}

/*============= 
    Typography 
===============*/

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: var(--clr-primary-black);
}

.fs-50 {
  font-size: var(--fs-50);
} /*13.6px*/
.fs-100 {
  font-size: var(--fs-100);
} /*16px*/
.fs-150 {
  font-size: var(--fs-150);
} /*18.4px*/
.fs-200 {
  font-size: var(--fs-200);
} /*20px*/
.fs-300 {
  font-size: var(--fs-300);
} /*24px*/
.fs-400 {
  font-size: var(--fs-400);
} /*28px*/
.fs-500 {
  font-size: var(--fs-500);
} /*32px*/
.fs-550 {
  font-size: var(--fs-550);
} /*36px*/
.fs-600 {
  font-size: var(--fs-600);
} /*40px*/
.fs-700 {
  font-size: var(--fs-700);
} /*48px*/
.fs-800 {
  font-size: var(--fs-800);
} /*64px*/
.fs-900 {
  font-size: var(--fs-900);
} /*128px*/

/*============= 
    Navbar 
===============*/

.search-container {
  margin: 3rem auto 2rem;
  width: min(30rem, 90%);
}

.search-bar {
  width: 100%;
  height: 2.75rem;
  border: 1px solid black;
  border-radius: 23px;
  padding: 0.25rem 1rem 0.25rem 2.5rem;
}

.search-bar-active {
  width: 100%;
  height: 2.75rem;
  border: 1px solid black;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom: none;
  padding: 0.25rem 1rem 0 2.5rem;
}

.search-bar:focus {
  outline: none;
}

.search-bar-active:focus {
  outline: none;
}

.fa-lg {
  top: 14px;
  left: 10px;
}

.result-container {
  border: 1px solid black;
  padding-top: 0.25rem;
  border-radius: 0 0 10px 10px;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 10;
}

.result-container ul {
  padding: 0.5rem 0;
}

.result-container li {
  padding: 0.4rem 2.1rem;
  cursor: pointer;
}

.result-container li:hover {
  background-color: rgba(0, 0, 0, 0.13);
}

.result-container li:focus {
  background-color: rgba(0, 0, 0, 0.13);
  outline: none;
}

/*============= 
    Body
===============*/

.section-container {
  margin: 0 auto;
  width: min(90%, 45rem);
  padding: 1rem 0;
}

.section-margin {
  margin-bottom: 5rem;
}

.card-main {
  box-shadow: rgba(247, 242, 242, 0.5) 0px 5px 15px;
  border-radius: 15px;
}

.card-upper {
  border-radius: 15px 15px 0 0;
  background-color: #21d4fd;
  background-image: linear-gradient(242deg, #21d4fd, #b721ff);
  display: grid;
  place-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-name {
  margin: 0 auto;
  padding: 2rem;
}

.name-line {
  width: 3rem;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: 1.5rem;
  border-radius: 50px;
  right: calc(50% - 1.5rem);
}

.card-current {
  place-items: center;
}

.degree {
  position: absolute;
  width: 0.85rem;
  height: 0.85rem;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid var(--clr-moon);
  top: 15px;
}

.current-weather img {
  width: 5rem;
}

.current-info {
  padding: 0.5rem 1.5rem 0.5rem;
}

.current-info > div {
  display: grid;
  gap: 0.25rem;
  place-items: center;
}

.current-info > div + div {
  border-left: 2px solid var(--clr-moon);
  padding-left: 1rem;
  margin-left: 1rem;
}

.card-bottom {
  background-color: white;
  padding: 2rem 1rem 2rem;
  border-radius: 0 0 15px 15px;
}

.card-forecast {
  display: grid;
  place-items: center;
  gap: 1.5rem;
}

.forecast-container {
  gap: 1rem;
}

.forecast-icon {
  width: 2rem;
  margin: 0 auto;
}

.astro-container {
  place-items: center;
  gap: 1rem;
}

.astro-info div + div {
  border-left: 2px solid black;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

/* Slider */

.slider-container {
  background-color: white;
}

.slider {
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 2rem 0.25rem 0;
  cursor: grab;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-inner {
  display: grid;
  height: 100%;
  width: 200%;
  user-select: none;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 0.9rem;
}

.item::before {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
}

.small-icon {
  width: 2.5rem;
}

.lost {
  width: 18rem;
  height: 10rem;
  margin: 0 auto;
  border-radius: 25px;
  color: #ece9ce;
  font-size: 2rem;
  display: grid;
  place-items: center;
  background-color: #21d4fd;
  background-image: linear-gradient(242deg, #21d4fd, #b721ff);
}

/*============= 
    Footer 
===============*/

.footer-container {
  margin: 0 auto;
  padding: 1rem 0;
  align-items: center;
  gap: 1rem;
}

.logo-small {
  width: 2.25rem;
}

.footer-text {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.api-icon {
  width: 4rem;
}

/*============= 
   Background
===============*/

/* Sky */

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(./img/stars.png) repeat top center;
  z-index: -10;
}

.twinkling {
  background: transparent url(./img/twinkling.png) repeat top center;
  z-index: -5;
  animation: move-twink-back 200s linear infinite;
}

/* Sun */

.sun {
  width: 100px;
  height: 100px;
  background-color: #ffde00;
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0 0 0 20px #ffde0080, 0 0 0 40px #ffde0040, 0 0 0 60px #ffde0020,
    0 0 0 80px #ffde0010, 0 0 0 100px #ffde0000, 0 0 40px 100px #ffde0010;
  animation: sunrise 2s infinite linear forwards, rays 2s 2s infinite linear;
}

@keyframes sunrise {
  0% {
    box-shadow: none;
  }
}

@keyframes rays {
  0% {
    box-shadow: 0 0 0 0 #ffde0080, 0 0 0 20px #ffde0080, 0 0 0 40px #ffde0040,
      0 0 0 60px #ffde0020, 0 0 0 80px #ffde0010, 0 0 40px 100px #ffde0010;
  }
  100% {
    box-shadow: 0 0 0 20px #ffde0080, 0 0 0 40px #ffde0040, 0 0 0 60px #ffde0020,
      0 0 0 80px #ffde0010, 0 0 0 100px #ffde0000, 0 0 40px 100px #ffde0010;
  }
}

/* moon */

.moon {
  width: 100px;
  height: 100px;
  background-color: #ece9ce;
  position: absolute;
  top: 10%;
  right: 5%;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0 0 0 20px #ece9ce80, 0 0 0 40px #ece9ce40, 0 0 0 60px #ece9ce20,
    0 0 0 80px #ece9ce10, 0 0 0 100px #ece9ce00, 0 0 40px 100px #ece9ce10;
  animation: moonrise 2s infinite linear forwards,
    moon-rays 2s 2s infinite linear;
}

@keyframes moonrise {
  0% {
    box-shadow: none;
  }
}

@keyframes moon-rays {
  0% {
    box-shadow: 0 0 0 0 #ece9ce80, 0 0 0 20px #ece9ce80, 0 0 0 40px #ece9ce40,
      0 0 0 60px #ece9ce20, 0 0 0 80px #ece9ce10, 0 0 40px 100px #ece9ce10;
  }
  100% {
    box-shadow: 0 0 0 20px #ece9ce80, 0 0 0 40px #ece9ce40, 0 0 0 60px #ece9ce20,
      0 0 0 80px #ece9ce10, 0 0 0 100px #ece9ce00, 0 0 40px 100px #ece9ce10;
  }
}

/*============= 
   Media Queries 
===============*/

@media (min-width: 40em) {
  .none {
    display: none;
  }

  .city-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28rem;
  }

  .card-upper {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 4rem 0 2rem;
    justify-content: space-between;
  }

  .card-forecast {
    grid-template-columns: 1fr 1fr;
  }

  .slider-inner {
    width: 150%;
  }

  .clouds {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .clouds {
    background: transparent url(./img/clouds.png) repeat top center;
    z-index: -3;
    opacity: 0.6;
    animation: move-clouds-back 200s linear infinite;
  }
}

@media (max-width: 40em) {
  .none-mobil {
    display: none;
  }

  .sun {
    top: 0%;
    left: 0%;
  }
  .moon {
    top: 0%;
    right: 0%;
  }

  .slider-inner {
    gap: 0.25rem;
  }

  .item {
    font-size: 0.75rem;
  }

  .item::before {
    width: 2rem;
    height: 2rem;
  }

  .small-icon {
    width: 2rem;
  }
}
